src/main/resources/static/OrderService.wsdl


<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bcu.coursework.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bcu.coursework.com/" name="OrderService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://bcu.coursework.com/" schemaLocation="http://localhost:3003/OrderService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="placeOrder">
        <part name="parameters" element="tns:placeOrder"/>
    </message>
    <message name="placeOrderResponse">
        <part name="parameters" element="tns:placeOrderResponse"/>
    </message>
    <message name="customErrorHandler">
        <part name="fault" element="tns:customErrorHandler"/>
    </message>
    <message name="updateOrderStatus">
        <part name="parameters" element="tns:updateOrderStatus"/>
    </message>
    <message name="updateOrderStatusResponse">
        <part name="parameters" element="tns:updateOrderStatusResponse"/>
    </message>
    <message name="getAllOrders">
        <part name="parameters" element="tns:getAllOrders"/>
    </message>
    <message name="getAllOrdersResponse">
        <part name="parameters" element="tns:getAllOrdersResponse"/>
    </message>
    <message name="getOrdersByClientId">
        <part name="parameters" element="tns:getOrdersByClientId"/>
    </message>
    <message name="getOrdersByClientIdResponse">
        <part name="parameters" element="tns:getOrdersByClientIdResponse"/>
    </message>
    <message name="getOrderByOrderRef">
        <part name="parameters" element="tns:getOrderByOrderRef"/>
    </message>
    <message name="getOrderByOrderRefResponse">
        <part name="parameters" element="tns:getOrderByOrderRefResponse"/>
    </message>
    <portType name="OrderService">
        <operation name="placeOrder">
            <input wsam:Action="http://bcu.coursework.com/OrderService/placeOrderRequest" message="tns:placeOrder"/>
            <output wsam:Action="http://bcu.coursework.com/OrderService/placeOrderResponse" message="tns:placeOrderResponse"/>
            <fault message="tns:customErrorHandler" name="customErrorHandler" wsam:Action="http://bcu.coursework.com/OrderService/placeOrder/Fault/customErrorHandler"/>
        </operation>
        <operation name="updateOrderStatus">
            <input wsam:Action="http://bcu.coursework.com/OrderService/updateOrderStatusRequest" message="tns:updateOrderStatus"/>
            <output wsam:Action="http://bcu.coursework.com/OrderService/updateOrderStatusResponse" message="tns:updateOrderStatusResponse"/>
            <fault message="tns:customErrorHandler" name="customErrorHandler" wsam:Action="http://bcu.coursework.com/OrderService/updateOrderStatus/Fault/customErrorHandler"/>
        </operation>
        <operation name="getAllOrders">
            <input wsam:Action="http://bcu.coursework.com/OrderService/getAllOrdersRequest" message="tns:getAllOrders"/>
            <output wsam:Action="http://bcu.coursework.com/OrderService/getAllOrdersResponse" message="tns:getAllOrdersResponse"/>
        </operation>
        <operation name="getOrdersByClientId">
            <input wsam:Action="http://bcu.coursework.com/OrderService/getOrdersByClientIdRequest" message="tns:getOrdersByClientId"/>
            <output wsam:Action="http://bcu.coursework.com/OrderService/getOrdersByClientIdResponse" message="tns:getOrdersByClientIdResponse"/>
        </operation>
        <operation name="getOrderByOrderRef">
            <input wsam:Action="http://bcu.coursework.com/OrderService/getOrderByOrderRefRequest" message="tns:getOrderByOrderRef"/>
            <output wsam:Action="http://bcu.coursework.com/OrderService/getOrderByOrderRefResponse" message="tns:getOrderByOrderRefResponse"/>
        </operation>
    </portType>
    <binding name="OrderServiceImplPortBinding" type="tns:OrderService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="placeOrder">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="customErrorHandler">
                <soap:fault name="customErrorHandler" use="literal"/>
            </fault>
        </operation>
        <operation name="updateOrderStatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="customErrorHandler">
                <soap:fault name="customErrorHandler" use="literal"/>
            </fault>
        </operation>
        <operation name="getAllOrders">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getOrdersByClientId">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getOrderByOrderRef">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="OrderService">
        <port name="OrderServiceImplPort" binding="tns:OrderServiceImplPortBinding">
            <soap:address location="http://localhost:3003/OrderService"/>
        </port>
    </service>
</definitions>
